.gsc-reactions {
  display: none;
}

.gsc-header {
  display: none;
}

.gsc-comment-footer {
  display: none;
}

.gsc-comment-box-tabs {
  display: none;
}

.gsc-comment-box-textarea-extras {
  display: none;
}

.gsc-comments {
  flex-direction: column-reverse;
}

.gsc-timeline {
  flex-direction: row;
}




