
.gsc-reactions {
  display: none;
}

.gsc-header {
  display: none;
}

.gsc-comment-footer {
  display: none;
}

.gsc-comment-box-tabs {
  display: none;
}

.gsc-comment-box-textarea-extras {
  display: none;
}

.gsc-comments {
  flex-direction: column-reverse;
}

.gsc-reply-box {
  display: none;
}

.gsc-timeline {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: start;
}

.gsc-comment {
  height: auto;
  width: 400px;
}

.gsc-comment-content {
  overflow-y: auto;
  max-height: 386px;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
}
}
